.navbar {
  background-color: orange;
  padding: 36px;
  display: flex;
  justify-content: center;
  gap: 60px;

  position: sticky;
  top: 0;
  z-index: 1000;

  border-bottom: 1px solid var(--border-color);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;

}

.links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px 28px;
  border-radius: 18px;
  transition: background 0.3s;
}

.links a:hover {
  background-color: darkorange;
}

