.section {
  padding: 80px 20px;
  background: darkorange;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: "white";
  margin-bottom: 20px;
}
h1 {
  font-size: 2.5rem;
  color: "white";
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  color: "white";
  line-height: 1.6;
}
